<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>스파르타코딩클럽 | 속눈썹샵 검색</title>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zhtjy3l0dc&submodules=geocoder"></script>

    <link rel=" stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        #map {
            width: 700px;
            height: 500px;
            margin: 50px auto 50px auto;
        }

        .wrap {
            width: 700px;
            margin: 10px auto;
        }

        .eyelashes-list {
            overflow: scroll;
            width: 700px;
            height: 800px;
        }
    </style>

</head>

<body>
<div class="wrap">
    <h1>서울 속눈썹샵</h1>
    <div class="input-group mb-3">
        <input id="gu-name" type="text" class="form-control" placeholder="예시) 강남구">
        <div class="input-group-append">
            <button type="button" class="btn btn-success" onclick="find_my_best_place()">검색</button>
        </div>
    </div>
    <div id="map"></div>

    <div class="eyelashes-list" id="eyelashes-box">
    </div>
</div>

<script>
    let seoulGu = ["종로구", "중구", "용산구", "성동구", "광진구", "동대문구", "중랑구", "성북구", "강북구", "도봉구", "노원구", "은평구", "서대문구", "마포구", "양천구", "강서구", "구로구", "금천구", "영등포구", "동작구", "관악구", "서초구", "강남구", "송파구", "강동구"];

    function isValidGuName(guName) {
        for (let i = 0; i < seoulGu.length; i++) {
            if (guName == seoulGu[i]) {
                return true;
            }
        }
        return false;
    }

    function find_my_best_place() {

        let guName = $('#gu-name').val();
        if (guName == '') {
            alert('구 이름을 입력하세요');
            return;
        }
        if (isValidGuName(guName) == false) {
            alert('올바른 구 이름을 입력하세요');
            return;
        }

        // 기존 맛집 목록이 있으면 지우기
        $('#eyelashes-box').empty();
        // 맛집 정보 요청
        $.ajax({
            type: "GET",
            url: `/eyelashes?gu_give=${guName}`,
            data: {},
            success: function (response) {
                // 맛집 요청 성공 여부 검사
                if (response['result'] == 'success') {
                    // 전달받은 맛집 리스트를 matjipList에 저장한다.
                    let eyelashesList = response['eyelashes_list'];
                    // TM128 좌표를 위도/경도 좌표로 변환하기
                    eyelashesList = getEyelashesListWithGeoData(eyelashesList);
                    // 맛집을 HTML로 추가하기
                    addHTML(eyelashesList);
                    // 지도 그리기
                    drawMap(eyelashesList);
                } else {
                    alert('검색이 실패하였습니다.');
                }
            }
        });
    }

    // eyelashesList 좌표 정보를 바꾸기
    function getEyelashesListWithGeoData(eyelashesList) {
        // 반환할 맛집 목록
        let result = [];

        for (let i = 0; i < eyelashesList.length; i++) {
            // 개별 맛집 데이터를 matjip에 저장
            let eyelashes = eyelashesList[i];
            let mapx = eyelashes['mapx'];
            let mapy = eyelashes['mapy'];
            // TM128 좌표를 위도(lat), 경도(lng) 딕셔너리로 반환
            let geoData = getLatLng(mapx, mapy);
            // geoData 라는 이름으로 맛집 데이터에 추가
            eyelashes['geoData'] = geoData;
            // 반환할 맛집 목록에 추가
            result.push(eyelashes);
        }
        // 맛집 목록 반환
        return result;
    }

    // TM128 좌표를 위도(lat), 경도(lng) 딕셔너리로 반환
    function getLatLng(mapx, mapy) {
        // 문자열 -> 숫자로 변환
        let x = parseInt(mapx);
        let y = parseInt(mapy);

        // 네이버가 제공하는 변환 함수 사용
        let geoInfo = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point(x, y));
        // 변환 딕셔너리 반환
        return {'lat': geoInfo._lat, 'lng': geoInfo._lng}
    }


    function addHTML(eyelashesList) {
        for (let i = 0; i < eyelashesList.length; i++) {
            let tempHtml = makeCard(eyelashesList[i]);
            $('#eyelashes-box').append(tempHtml);
        }
    }

    function makeCard(eyelashes) {
        return `<div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="${eyelashes['link']}" class="eyelashes-title">${eyelashes['title']}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">${eyelashes['category']}</h6>
                <p class="card-text">${eyelashes['roadAddress']}</p>
                <a href="${eyelashes['link']}" target="_blank" class="card-link">링크</a>
                <a href="#" class="card-link">${eyelashes['telephone']}</a>
            </div>
            </div>`;
    }

    function drawMap(eyelashesList) {
        let geoData = eyelashesList[0]['geoData'];
        let markerList = [];
        let contents = [];
        let numberOne = new naver.maps.LatLng(geoData['lat'], geoData['lng']),
            map = new naver.maps.Map('map', {
                center: numberOne,
                zoom: 12
            }),
            marker = new naver.maps.Marker({
                position: numberOne,
                map: map
            });


        for (let i = 0; i < eyelashesList.length; i++) {
            let eyelashes = eyelashesList;
            let position = new naver.maps.LatLng(eyelashes['geoData']['lat'], eyelashes['geoData']['lng'])
            marker = new naver.maps.Marker({
                position: position,
                map: map
            });

            // 마커를 클릭했을 때 보여줄 창을 HTML 태그로 만들기
            let contentString = `<div class="iw_inner">
                            <h3>${eyelashes['title']}</h3>
                            <p>${eyelashes['address']}<br />
                                ${eyelashes['category']}<br />
                                <a href="${eyelashes['link']}" target="_blank">링크</a>
                            </p>
                            </div>`;
            // contents에 태그를 저장
            contents.push(contentString);
            // 마커 목록에 markerList 저장하기
            markerList.push(marker);
        }

        // 클래스명이 eyelashes-title 카드 정보를 추출
        const eyelashesElement = $('.eyelashes-title');

        for (let i = 0; i < markerList.length; i++) {
            let marker = markerList[i];
            let infowindow = new naver.maps.InfoWindow({
                content: contents[i],
                maxWidth: 140,
                backgroundColor: "#eee",
                borderColor: "#2db400",
                borderWidth: 5,
                anchorSize: new naver.maps.Size(30, 30),
                anchorSkew: true,
                anchorColor: "#eee",
                pixelOffset: new naver.maps.Point(20, -20)
            });
            naver.maps.Event.addListener(marker, "click", function (e) {
                if (infowindow.getMap()) {
                    infowindow.close();
                } else {
                    infowindow.open(map, marker);
                }
            });


            // 맛집 HTML의 상호명을 클릭했을 때 지도 위에 정보 띄우기
            eyelashesElement[i].addEventListener('click', function (e) {
                e.preventDefault();
                if (infowindow.getMap()) {
                    infowindow.close();
                } else {
                    infowindow.open(map, marker);
                }
            })
        }
    }
</script>
</body>

</html>